.mx-datepicker {
  width: 280px;

  .mx-input {
    border: 0;
    border-radius: 18px;
    text-align: center;
    height: 33px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 400px) {
  .mx-datepicker-main {
    display: flex;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;

    .mx-datepicker-sidebar {
      flex: 0.7;
    }

    .mx-datepicker-content {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-left: 0px;
    }
  }
}

.mx-time {
  width: 100%;
}

.toggle-date-btn {
  margin-right: 10px;
}

.mx-icon-calendar {
  display: none;
}
