.date-time-picker {
  display: inline-block;
  width: auto;

  .datepicker {
    box-shadow: none !important;
    filter: var(--drop-shadow);
    margin-top: 5px;

    @media screen and (max-width: 415px) {
      // Fix buttons being off screen
      .datepicker-buttons-container {
        bottom: 0;
        position: absolute;
        width: 100%;
      }
    }
  }
}
